<h1>You'r options</h1>

<nav>
    <div class="nav-wrapper teal lighten-2">
      <a href="#" class="brand-logo"><h3 class="besedwi">Rest2</h3></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down ">
        <li><a><%= link_to "Menu" , menu_path %></a></li>

        <li><a href="/home/about">About us</a></li>
        <li><a><%= link_to "Find Us" , contact_path %></a></li>
      </ul>
    </div>
  </nav>

<!--
<table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Item Name</th>
              <th>Item Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>
        </tbody>
      </table>
      
      -->