<h1>My Options</h1>

<nav class="nav-extended teal lighten-2">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a><%= link_to "Home" , root_path %></a></li>
        <li><a><%= link_to "About" , cart_path %></a></li>
        <li><a><%= link_to "Find us" , cart_path %></a></li>
      </ul>
    </div>

    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <% @category.each do |category| %>
        <li class="tab">
         <%= link_to(category.name , menu_path(category:category.name),
              class:"#{'active' if params[:category] == category.name}") %>
        </li>
         <% end %>
      </ul>
    </div>
  </nav>


  <div id="test1" class="col s12">Test 1</div>
  <div id="test2" class="col s12">Test 2</div>
  <div id="test3" class="col s12">Test 3</div>
  <div id="test4" class="col s12">Test 4</div>
